/*========== Custom Css Started Here ============*/
a {
    color: #ff4c3b;
}

/********** HOME PAGE TOP BANNER STARTED HERE *************/
section.new_homebanner .container {
    background-image: url(../images/custom/Website-Banner-1Bg.jpg);
    background-position: center;
    padding: 51px 0 !important;
    height: 600px !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.home-bnn_inner h2 {
    width: 490px;
    animation: typing 2s steps(22);
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border-right: 20px solid transparent;
    font-family: Sacramento;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 92px;
    position: relative;
    z-index: 9;
    margin: -30px 0 0px !important;
    font-weight: 500;
    word-spacing: 0px !important;
    background-image: url(../images/custom/gold-textured-background-scaled.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-size: contain;
    line-height: normal !important;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 3px 0px #0000001f, 0px 2px 0px #53535300, 0px 2px 0px #dcb44f26, 0px 2px 0px #53535300;
    -webkit-font-smoothing: antialiased;
}
.banner-content_home {
    max-width: 485px;
    margin: 0 auto;
}
.bgimg_button:hover, .bgimg_button:focus, .bgimg_button:active {
    box-shadow: 0 0 10px #e5b974, 0 0 2px #e5b974, 0 0 2px #e5b974 !important;
    text-shadow: 1px 1px 3px #ffffff4f;
}
.bgimg_button {
    transition: .5s linear;
    color: #212529 !important;
    background-image: url(../images/custom/gold-textured-background-scaled.jpg);
    border-radius: 0 !important;
    background-size: cover;
    padding: 5px;
    font-family: Lato, sans-serif;
    height: 70px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #0000004f;
    width: 200px;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.home-bnn_inner p {
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
    font-size: 92px;
    letter-spacing: 5px;
    line-height: 90px;
    margin-bottom: 40px;
    margin-top: -30px;
    color: #ffffff;
    background: linear-gradient(to right, #ffffff 0, #8f8f8f 10%, #ffffff 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
}
.home-bnn_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
section.new_homebanner div {
    height: 100%;
}
.home-bnn_inner > div {
    height: auto !important;
    width: 100%;
    text-align: center;
}
.banner_para_home {
    max-width: 800px;
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 750px;
  }
  100% {
    background-position: 750px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 750px;
  }
  100% {
    background-position: 750px;
  }
}

@keyframes typing {
  from {
    width: 0;
    border-right: 2px solid #ddac5f;
  }
  80%{
    border-right: 2px solid #ddac5f; 
  }
  100% {
     border-right: 2px solid #ddac5f00;
  }
}

/********** HOME PAGE TOP BANNER END HERE *************/

/*----- HOME CENTER BANNER STARTED HERE ------*/
section.obsession_banner {
    margin: 0 auto;
    background: none !important;
    max-width: 1440px;
}
section.obsession_banner .container {
    position: relative;
    background-image: url(../images/custom/Banner-min-1.jpg);
    background-position: center left;
    padding-top: 51px !important;
    height: 700px !important;
    padding-bottom: 51px !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.obsession_banner div {
    height: 100% !important;
}
.obsession_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section.obsession_banner div.obsession_inner {
    height: auto !important;
    text-align: center;
    max-width: 600px;
}
section.obsession_banner div.obsession_inner div {
    height: auto !important;
}
.obsession_heading h3 {
    background: #fff !important;
    color: #000 !important;
    letter-spacing: 8px !important;
    word-spacing: 2px !important;
    font-size: 18px !important;
    margin: 0px auto 30px !important;
    height: 36px !important;
    padding-left: 10px !important;
    padding-right: 4px !important;
    padding-top: 8px !important;
    width: auto !important;
    max-width: 350px !important;
}
.obsession_inner {
    text-align: center;
}
.banner-content h2 {
    color: #e6c194 !important;
    text-transform: uppercase !important;
    font-weight: bolder !important;
    letter-spacing: 10px !important;
    word-spacing: 2px !important;
    line-height: 50px !important;
    font-size: 41px !important;
    margin-bottom: 30px !important;
}
.banner_para p, .banner_para span {
    font-size: 20px !important;
    max-width: 450px !important;
    margin: 0px auto 30px !important;
    color: #ffffff !important;
    letter-spacing: 2px !important;
}
.fullblack_button:hover, .fullblack_button:focus, .fullblack_button:active {
    transition: all 0.5s cubic-bezier(0.41, 0.52, 0.83, 0.9) 0s !important;
    background-color: transparent !important;
    color: #e6c194 !important;
}
.fullblack_button {
    border: 1px solid #ffffff !important;
    padding: 0px 20px !important;
    min-height: 60px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-weight: 400 !important;
    min-width: 250px !important;
    border-radius: 0px !important;
    background-color: #ffffff !important;
    transition: all 0.5s cubic-bezier(0.41, 0.52, 0.83, 0.9) 0s !important;
    font-size: 18px !important;
    color: #000000 !important;
}
/*----- HOME CENTER BANNER END HERE ------*/

/*----- CATEGORY BANNER STARTED HERE -----*/
.bnn_content {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat_banner .container-fluid {
    padding: 0 !important;   
    overflow-x: hidden;
}
.cat_banner img.img-fluid.cat_bann_img {
    width: 100%;
}
.bnn_content a {
    color: #ff4c3b;
}
/*----- CATEGORY BANNER END HERE -----*/

/*----- ADDRESS BOOK CSS STARTED HERE ------*/
.acc_info_sec form.theme-form,
.address_box {
    background-color: #f9f9f9;
    padding: 25px;
    margin: 20px 0 0px 0;
    border: 1px solid #dddddd !important;
}
.address_box input,
.address_box select.form-control {
    max-height: 38px !important;
	margin-bottom: 0px !important;
    padding: 5px 15px !important;
}
.address-section img {
    width: 60px;
    border-radius: 50%;
	border: 2px solid #dddddd;
    margin-right: 20px;
}
ul.address-section li {
    width: 100%;
}
ul.address-section li .tag {
    background: #999999;
    padding: 2px 5px;
    color: #fff;
}
.add_info p strong {
    color: #222222;
    margin-right: 5px;
}
.address_box .form-row.row> div {
    margin-bottom: 10px;
}
span.error_span {    
    color: red;
    font-size: 12px;
}
.add_info p {
    margin-bottom: 4px;
    color: #999999;
}
.add_link {
    margin-top: 20px;
}
ul.address-section li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

ul.address-section li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.add_link a {
    background: #ff4c3b;
    color: #fff;
    padding: 8px 15px;
    margin-right: 10px;
    font-weight: 400;
    height: 28px !important;
    font-size: 14px;
    font-family: poppins;
    float: right;
}
.edit_trash_link i:hover, .edit_trash_link i:active, .edit_trash_link i:focus {
    color: #ff4c3b;
}
.edit_trash_link i {
    font-size: 22px;
    padding-left: 15px;
    color: #2d2a25;
    transition: 0.2s ease-in-out;
}
.dashboard .product-order-detail:last-child {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.dashboard .product-order-detail {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}
/*----- ADDRESS BOOK CSS END HERE ------*/


/**================================ RESPONSIVE CSS STARTED HERE ============================**/
@media screen and (max-width: 575px){
	body .home-bnn_inner h2 {
		font-size: 38px;
		margin: 0px 0 0 0 !important;
		width: 270px;
	}
	body .home-bnn_inner p {
		font-size: 32px;
		letter-spacing: 2px;
		line-height: 40px;
		margin-bottom: 20px;
		margin-top: -15px;
	}
	body section.new_homebanner .container {    
		height: 380px !important;
		padding: 50px 6px !important;
	}